.newsContainer {
  display: flex;
  height: 100vh;
}

.leftPanel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #404040, #000000);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.newsTitle {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;

  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.rightPanel {
  flex: 3;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
  will-change: opacity, transform; /* Hint for smoother animations */
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Animation classes */
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
  will-change: opacity, transform;
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 800ms ease, transform 800ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 800ms ease, transform 800ms ease;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
