.newsContainer {
  display: flex;
  height: 100vh;
}

.leftPanel {
  flex: 1;
  background: linear-gradient(to bottom, black, grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsTitle {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.rightPanel {
  flex: 2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* Animation classes */
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}